.footer-dark
    background: $dark-background
    padding: 0.625rem 10%
    color: $white !important

.footer-color

    p, a, h1, h2, h3, h4
        color: $white !important



.footer-light
    background: $light
    padding: 0.625rem 10%
