.barSocialNetworks
    display: scroll
    position: fixed
    bottom: 20rem
    right: 0
    z-index: 999

    ul
        padding: 0.125rem

        li
            list-style-type: none

            a
                color: $blue


.btn-close
    color: $white
    font-size: 2.12rem
    font-weight: bold
    float: right
    padding: 0.3125rem 0.812rem

    &:hover
        color: $hover-dark

.btn-open
    color: $black
    font-size: 2.12rem
    font-weight: bold
    position: absolute
    right: 0
    z-index: 1000
    top: 0.272rem
    padding: 0.3125rem 0.812rem

    &:hover
        color: $hover-dark

//.navbar-komex
//    width: 60%
//    top: 0
//    right: 0
//    position: fixed
//    display: none
//    height: 100%
//    z-index: 1000
//    background: rgba(0,0,0,0.6)
//
//    ul
//        padding: 0.125rem
//        background: $dark
//        margin: 30% auto
//        width: 100%
//        overflow: hidden
//
//        li
//            min-width: 100%
//            display: block
//            text-align: center
//
//            &:hover
//                background: rgba(0,0,0,0.8)
//
//            a
//                color: $white
//                text-transform: uppercase
//                float: left
//                text-decoration: none
//                text-align: center
//                padding: 10px
//                margin: 0 auto


.-bg-about, .-bg-services,
.-bg-contact, .-bg-extensions,
.-bg-fairs, .-bg-mexico,
.-bg-special_trips, .-bg-testimonials
    object-fit: cover

.-bg-about
    background-image: url("../images/banners/about.jpg")

.-bg-services
    background-image: url("../images/banners/services.jpg")

.-bg-contact
    background-image: url("../images/banners/contact.jpg")

.-bg-extensions
    background-image: url("../images/banners/extensions.jpg")

.-bg-fairs
    background-image: url("../images/banners/fairs.jpg")

.-bg-mexico
    background-image: url("../images/banners/mexico.jpg")

.-bg-special_trips
    background-image: url("../images/banners/special_trips.jpg")

.-bg-testimonials
    background-image: url("../images/banners/testimonials.jpg")

.banner
    height: 35vh


@media screen and (min-width: $tablet)

    .bg-social
        background: lighten($blueSocialNetworks, 15%)

    .barSocialNetworks
        width: 100%
        min-height: 60%
        position: relative
        display: block
        top: 0
        left: 0
        z-index: 0

        ul
            float: right
            padding: 0 10%

            li
                line-height: 60%
                display: inline
                padding: 0  0.3125rem

                a
                    color: $dark

                    &:hover
                        color: $hover-dark

    .btn-open
        position: relative
        display: none

    .btn-close
        position: relative
        display: none

    //.navbar-komex
    //    width: 100%
    //    position: relative
    //    display: block
    //    background: $gray
    //    //padding: 0 6%
    //
    //    ul
    //        margin: 0
    //        background: transparent
    //        padding: 0 4%
    //
    //        li
    //            display: inline
    //            min-width: 1%
    //
    //            &:hover
    //                background: $greenMain
    //
    //            a
    //                color: $black
    //                margin: 0
    //                padding: 10px 5px
    //
    //                &:hover
    //                    color: $white
    //                    background: $greenMain


//@media screen and (min-width: $desktop)
//    .navbar-komex
//
//        ul
//            padding: 0 15%
//
//            li
//                a
//                    padding: 10px 20px


