.sidebar
    -webkit-transition: all 1s
    -moz-transition: all 1s
    -mos-transition: all 1s
    -o-transition: all 1s
    transition: all 1s


.btns-leagues
    margin: 10% 0
    padding: 1%

    li
        list-style-type: none
        margin: 5% 0

        a
            text-decoration: none

            img
                padding: 0
                margin: 0

.btns-internal
    margin: 10% auto
    padding: 10%

    li
        background: $green
        list-style-type: none
        margin: 1.25rem 0
        padding: 0.3125rem 0
        text-align: center
        border-radius: 0.3125rem

        &:hover
            background: $purple

        a
            text-transform: capitalize
            color: $white
            text-decoration: none


.hide-sidebar
    display: none
    opacity: 0

.show-sidebar
    display: block
    opacity: 1

@media screen and (min-width: $tablet)
    .hide-sidebar
        display: block
        opacity: 1

    .show-sidebar
        display: none
        opacity: 0


