// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Fonts
$fontTitle: 'Arial', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$greenMain: #018202;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blueSocialNetworks: #6abafc;
$gray : #c4c3c3;
$gay : #c4c3c3;
$dark: #585858;
$dark-background: #1d1d1d;
$oscure: #585858;
$hover-dark: #8e8c8c;
$black: #070000;
$white: #f6f5f5;
$light: #acdff6;

$borderCard: #c7c7c7;
$bgCard: #e8e9e7;
$textCard: #2e2e2e;
$titleCard: #0d314d;
$strong: #1b6eb0;
$backJumbotron: #ccd9e7;
$linkLeagues: #fba31b;
$textTitles: #007749;


// Resolutions
$mobile: 27rem;
$tablet: 48rem;
$desktop: 75rem;

// Resolutions
$sm: 36rem;
$md: 48rem;
$lg: 62rem;
$xl: 75rem;
$xxl: 87.5rem;

