<template>
    <div>
<!--        <div>-->
<!--            <p>{{ latitude }}</p>-->
<!--            <p>{{ longitude }}</p>-->
<!--        </div>-->
<!--        <br>-->
        <GmapMap
            :center='center'
            :zoom='8'
            style='width:100%;  height: 400px;'
        >
            <GmapMarker
                :key="index"
                :position="center"
            />
        </GmapMap>
    </div>
</template>

<script>

export default {
    name: "GoogleMap",
    props: ['latitude', 'longitude'],
    data() {
        return {
            center: { lat: this.latitude, lng: this.longitude },
        }
    },
}
</script>

<style scoped>

</style>
